################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
__pycache__
__pycache__/
venv
venv/
.venv/
instance/
