<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Capstone Bank - Transfer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <p class="banner">This site is for cybersecurity testing purposes. Vulnerable mode is: <strong>{{ mode }}</strong></p>

    <h1>Capstone Bank - Transfer Funds</h1>
    <h2>{{ user.name }}'s Session: Make a Transfer</h2>

		{% if secure_mode %}
			<!-- secure mode (uses FlaskForm) -->
			<!-- code adapted from:
				https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-iii-web-forms -->
			<form method="POST" action="/transfer">
				{{ transfer_form.hidden_tag() }}	<!-- embed CSRF token in form -->
				{{ transfer_form.from_account.label }}{{ transfer_form.from_account() }}
				{{ transfer_form.to_account.label }}{{ transfer_form.to_account() }}
				{{ transfer_form.amount.label }}{{ transfer_form.amount() }}
				{{ transfer_form.submit() }}
			</form>

		{% else %}
			<!-- vulnerable mode (uses HTML form)-->
			<form method="POST" action="/transfer">
      	<label for="from_account">Transfer funds from Account:</label>
      	<select name="from_account" id="from_account">
        	<option value="checking">Checking</option>
        	<option value="savings">Savings</option>
      	</select>

      	<label for="to_account">Move funds to Account:</label>
      	<select name="to_account" id="to_account">
        	<option value="checking">Checking</option>
        	<option value="savings">Savings</option>
      	</select>

				<label for="amount_">Amount to transfer:</label>
				<input type="text" name="amount" id="amount_">

      	<button type="submit">Submit</button>
    	</form>
		{% endif %}

		{% if message %}
      <p class="message">{{ message }}</p>
    {% endif %}

    <br><br>
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
  </div>
</body>
</html>
